<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>last</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerManageServlet</display-name>
    <servlet-name>CustomerManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.CustomerManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManageServlet</servlet-name>
    <url-pattern>/customerManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterServlet</display-name>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <url-pattern>/customerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/deleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/editCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReturnServlet</display-name>
    <servlet-name>EditReturnServlet</servlet-name>
    <servlet-class>com.neuedu.controller.returnOrder.EditReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReturnServlet</servlet-name>
    <url-pattern>/editReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnManageServlet</display-name>
    <servlet-name>ReturnManageServlet</servlet-name>
    <servlet-class>com.neuedu.controller.returnOrder.ReturnManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnManageServlet</servlet-name>
    <url-pattern>/rreturnManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnOrderServlet</display-name>
    <servlet-name>ReturnOrderServlet</servlet-name>
    <servlet-class>com.neuedu.controller.returnOrder.ReturnOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnOrderServlet</servlet-name>
    <url-pattern>/returnOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailServlet</display-name>
    <servlet-name>CustomerDetailServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.CustomerDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailServlet</servlet-name>
    <url-pattern>/customerDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvinceServlet</display-name>
    <servlet-name>ProvinceServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.ProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceServlet</servlet-name>
    <url-pattern>/ProvinceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.neuedu.controller.customer.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
</web-app>